.apropos {
  .qui-suis-je {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    span {
      border: 1px solid white;
      padding: 2px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .container-avatar {
    display: flex;
    justify-content: center;
    img {
      margin-top: 40px;
      width: 50%;
      border-radius: 10px;
    }
  }

  .texte-presentation {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      width: 90%;
      font-size: 18px;
      text-align: justify;
    }
  }
}

@media screen and (min-width: 720px) {
  .apropos {
    display: flex;
    width: 100%;
    .qui-suis-je {
      display: none;
    }

    .container-avatar {
      width: 50%;
      img {
        width: 200px;
        height: auto;
      }
    }
    .texte-presentation {
      width: 50%;
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}
