.contact {
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("../images/background-contact-1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  .phrase-contactez-moi {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    background-color: black;
    opacity: 0.8;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    input {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: black;
      color: white;
    }
    textarea {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      background-color: black;
      color: white;
    }
    button {
      width: 30%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: black;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
    }
  }
  .mail,
  .github {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    span {
      margin-left: 5px;
      color: grey;
      a {
        text-decoration: none;
        color: grey;
      }
    }
  }
}
