.porteFolio {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  p {
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
  }

  .slide-container {
    width: 100%;
    margin-top: 40px;

    .title-project {
      display: block;
      text-align: center;
    }

    .each-slide {
      div {
        width: 100%;

        img {
          width: 100%;
        }
      }
      p {
        padding: 0;
        margin: 0;
        margin-top: 20px;
      }
    }
  }
  .lien {
    text-align: justify;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid white;
    display: inline-block;

    a {
      text-decoration: none;
      color: white;
    }
  }
  h2 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .porteFolio {
    position: relative;
    z-index: 12;
    background-color: black;
    margin-top: -5px;

    .lien {
      transition: all 0.5s ease-in;
    }

    .lien:hover {
      background-color: white;
      a {
        color: black;
      }
    }

    .descriptif-porteFolio {
      text-align: center;
    }
    .slide-container {
      .title-project {
        font-size: 24px;
      }
    }
    .projects {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      .oneProject {
        width: 45%;

        h2 {
          width: 90%;
        }

        p {
          text-align: justify;
          width: 90%;
        }
      }
    }
  }
}
