.porteFolio {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  p {
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
  }

  .slide-container {
    width: 100%;
    height: auto;
    margin-top: 40px;

    .title-project {
      display: block;
      text-align: center;
    }

    .each-slide {
      div {
        img {
          width: 100%;
        }
      }
    }
  }
}
